body {
    margin: 0;
    width: 100%;
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTm1eFGDIyTTZ_NfLvem8ul2p1ixrYWN1nbkjy0H845im1rMAbyyQ");
    background-attachment: fixed; */
    font-family: 'PT Sans', sans-serif;
    display: flex;
}
nav {
    background-color: #000;
    display: flex;
    flex-direction: column;
}

div {
    background-color: ghostwhite;
    padding: 10px;
}

#cv {
    padding: 90px;
    width: 80%;
    line-height: 1.0em;
}

.blurb {
    padding: 30px;
}

.post {
    padding: 0 0 0 60px;
    margin-top: 0;
}

nav ul, footer ul {
    list-style: none;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 700;
    position: relative;
}

a.post-title {
    font-family: system-ui, sans-serif;
    font-weight: 400;
}

a:hover {
    /* color: #d1d7e8; */
    /*text-shadow: 1px 1px 1px #d1d7e8;*/
    position: relative;
    left: 2px;
}

a.nav {
    color: white;
    font-weight: 900;
    position: relative;
}

a.nav:hover {
    /* text-shadow: 2px 2px 5px #d1d7e8; */
}

h1 {
    font-size: 3.2em;
}
h2 {
    font-size: 1.3em;
}
.blog {
    text-align: left;
    padding: 0 0 0 60px;
}

h3 {
    font-size: 1.1em;
}

p {
    font-size: 1.0em;
    line-height: 1.2em;
    color: #333;
    font-family: system-ui, sans-serif;
}

.title {
    text-align: center;
}

.meta {
    padding: 0 0 0 60px;
}

footer {
    border-top: 1px solid #999;
    font-size: .9em;
    float: none;
    display: flex;
    flex-direction: column;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.0em;
}

ul.posts li {
    list-style: none;
    font-family: system-ui, sans-serif;
}


img {
    max-width:100%;
    max-height:100%;
    /*
    opacity: 1.0;
    filter: alpha(opacity=100);
    */
    padding: 0;
    float: none;
}
img.link:hover {
    /*
    opacity: 0.5;
    filter: alpha(opacity=50);
    */
}

img.cell {
    width: 175px;
    height: 175px;
}

img.post{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    padding: 0 0 0 0;
}

li{
    margin: 10px 0;
    font-family: system-ui, sans-serif;
}

#thumbnail {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23);
    background-color: ghostwhite;
}