body {
    margin: 60px auto;
    width: 70%;
    background-image: url("https://background-tiles.com/overview/white/patterns/large/1019.png");
    background-attachment: fixed;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color:;
}
p {
    font-size: 1.0em;
    line-height: 1.2em;
    color: #333;
}
footer {
    border-top: 1px solid #333;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.0em;
}

ul.posts li {
    list-style: none;
}

div {
    background-color: #fff;
    padding: 50px;
}

img {
    max-width: ;
    max-height: ;
}

a:hover{
 border:10px solid black;  
}
