<!DOCTYPE html>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127100738-1"></script>
<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-127100738-1');
</script>

    <html>
        <head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
		<div id="page">
			<div id="sidebar">
				<nav>
					<img id="me" src="../images/me.jpg" />
					<ul>
						<li><a class="nav" href="/">Home</a></li>
						<li><a class="nav" href="http://github.com/kairstenfay">GitHub</a></li>
						<li><a class="nav" href="/about">About</a></li>
						<li><a class="nav" href="/cv">CV</a></li>
						<li><a class="nav" href="/blog">Blog</a></li>
						<li><a class="nav" href="mailto:kairsten.fay@gmail.com">email</a></li>
					</ul>
				</nav>
				<footer>
					<img src="../images/icons/github.png" />
					<img src="../images/icons/email.png" />
					<img src="../images/icons/twitter.png" />
				</footer>
			</div>
			<div id="thumbnail">

			{{ content }}

			</div>
		</div>
		</body>
	</html>
