body {
  text-align: center;
  background: #f6f9fc;
}

header {
  background-color: #fafbfc;
  min-height: 9vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  padding: 3vh;
}

a {
  color: purple
}
